<div class="content">
<%= render 'admin_page/head' %>
<div>
    <p>Добавить это задание пользователю:</p>
</div>
<div class="task_block">
<h2>Список упражнений:</h2>
<div class="caption">
    <p class="fio">Название</p>
</div>
<% @tasks.each { |value| %>
<%= form_tag url_for(controller: "admin_page", action: "task", id: value.id), method: "get", id: "form_id" do %>
<div class="task" id="task">
    <% if(value.title) %>
        <% if value.title.size > 50 %>
            <p class="task_title"><%= value.title[0,50] %>...</p>
        <% else %>
            <p class="task_title"><%= value.title %></p>
        <% end %>
    <% end %>
</div>         
<% end %>
<% } %>
</div>