<div class="task_block">
<h2>Список заданий:</h2>
<div class="caption">
        <p class="fio">Название</p>
        <p class="date">Дата</p>
</div>
<% @current_user.tasks.each { |value| %>
    <%= form_tag url_for(controller: "client_page", action: "task", id: value.id), method: "get", id: "form_id" do %>
    <div class="task" id="task">
        <% if value.title.size > 40 %>
            <p class="task_title"><%= value.title[0,40] %>...</p>
        <% else %>
            <p class="task_title"><%= value.title %></p>
        <% end %>
        <p class="task_date"><%= Russian::strftime(value.created_at, "%d %B %Y") %></p>
    </div>         
    <% end %>
<% } %>
</div>