<div class="task_block">
<h2>А вот и ваши задания:</h2>
<% @user.tasks.each { |value| %>
    <%= form_tag url_for(controller: "client_page", action: "task", id: value.id), method: "get", id: "form_id" do %>
    <div class="task" id="task">
        <% if value.title.size > 40 %>
            <p class="task_title"><%= value.title[0,40] %>...</p>
        <% else %>
            <p class="task_title"><%= value.title %></p>
        <% end %>
        <p class="task_date"><%= value.created_at.to_s[0,10] %></p>
    </div>         
    <% end %>
<% } %>
</div>