<div class="content">
<% @current_user = @users.find(session[:user_id]) %>
<div class="head">
    <%= link_to image_tag("logo.png", :border => 0), home_path, :method => :delete, id: "logo" %>
    <%= link_to image_tag("logout.png", :border => 0), logout_path, :method => :delete, id: "logout" %>
</div>
<div class="title">
<h2>Здравствуйте, <%= @current_user.fio %>!</h2>
</div>
<% if @current_user.tasks.size > 0 %>
<%= render 'client_page/tasks_list' %>
<% else %>
<h3>УПС... На этом месте должны быть Ваши задания, но пока что тут ничего нет =( </h3>
<% end %>
</div>

