<div class="content">
<% @user = @users.find(session[:user_id]) %>
<div class="head">
    <%= link_to image_tag("logo.png", :border => 0), back_path, :method => :delete, id: "logo" %>
    <%= link_to image_tag("logout.png", :border => 0), logout_path, :method => :delete, id: "logout" %>
</div>
<div class="title">
<h2>Здравствуйте, <%= @user.fio %>!</h2>
</div>
<%= render 'client_page/tasks_list' %>
</div>

